<h4><em>All Passengers Currently Booked:</em></h4>
  <% flight.passengers.each do |passenger|  %>
    <div id="passenger-<%= passenger.id %>">
      <div style="float:left; padding-top:3px; padding-right:10px;">
        <p><%= passenger.name %></p>
      </div>
      <br>
      <%= button_to "Remove #{passenger.name}", "/bookings/destroy" , method: :delete, params: { flight_id: flight.id, passenger_id: passenger.id } %>
      <br>
    </div>
  <% end %>
